body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f0f0f0;
  text-align: center;
  padding-top: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.widget-placeholder {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: red;
  margin: 20px 0;
}

.robot-image {
  width: 100px;
  margin-top: 20px;
}